# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Model Files
*.pth
*.pt

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Generated Outputs
outputs/gradcam/*.png
outputs/reports/brain_tumor_report_*.pdf

# Logs
*.log

# Database
brain_tumor.db

# Generated reports
outputs/